@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
  font-family: 'Oswald', sans-serif;
}

.container {
  background-color: #e2e2e2;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

 


.item {
  background-color: tomato;
  height: 50px;
  margin: 5px;
  padding: 5px;
  color: white;
}
